<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en html</title>
    <link rel="stylesheet" href="/css/style.css">
    <!--GOOGLE FONTS--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--ICONOS--> 
    <script src="https://kit.fontawesome.com/41f3340cce.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--Header--> 
    <header>
            <section class="logo-barra">
                <!--Logo mercadoLibre--> 
               <div class="logo">
                   <img src="/logo/logo-mercado-liebre.svg">
               </div>
               <!--Barra de busqueda--> 
               <div class="barra-de-busqueda">
                   <form>
                    <input type="search" placeholder="Buscar productos, marcas" >
                    <button type="submit"> 
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                   </form>
               </div>
               <!--Mensaje informativo-->
               <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</p>
           </section>
        <section class="nav">
            <ul>
                <li><a  class="cuerpo-texto" href="#">Ofertas</a></li>
                <li><a  class="cuerpo-texto" href="#">Tiendas oficiales</a></li>
                <li><a  class="cuerpo-texto" href="#">Vender</a></li>
                <li><a  class="cuerpo-texto" href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a  class="cuerpo-texto" href="/registro">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                <li><a  class="cuerpo-texto" href="/login">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a  class="cuerpo-texto" href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </section>
        <div class="menu-hamburguesa">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <!--Main--> 
    <main>
        <!--Banner--> 
        <section class="banner">
            <img  src="/img/img-home-banner.jpg">
          </section>
        <!--Seccion ultima visita--> 
        <h2 class="titular">Basado en tu ultima visita</h2>
        <section class="productos">
            <article>
                <img src="/img/img-cafetera-moulinex.jpg">
                <div class="datos-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div>
                        <span class="precio">$6.770</span>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg">
                <div class="datos-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div>
                        <span class="precio">$230.000</span>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg">
                <div class="datos-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div>
                        <span class="precio">$70.500</span>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg">
                <div class="datos-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div>
                        <span class="precio">$23.200</span>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <!--Seccion Ofertas--> 
        <h2 class="titular">Ofertas</h2>
        <section class="productos">
            <article>
                <img src="/img/img-cafetera-moulinex.jpg">
                <div class="datos-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div>
                        <span class="precio">$6.770</span>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg">
                <div class="datos-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div>
                        <span class="precio">$230.000</span>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg">
                <div class="datos-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div>
                        <span class="precio">$70.500</span>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/img/img-tv-samsung-smart.jpg">
                <div class="datos-articulo">
                    <i class="fa-solid fa-truck"></i>
                    <div>
                        <span class="precio">$23.200</span>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <!--Footer--> 
    <footer>
        <section>
            <section class="info-footer">
                <div>
                    <p class="icono-azul"><i class="fa-solid fa-credit-card"></i></p>
                    <h5>Pagá con tarjeta o en efectivo</h5>
                    <p class="cuerpo-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div>
                    <p class="icono-azul"><i class="fa-solid fa-gift"></i></p>
                    <h5>Envío gratis desde $ 2.500</h5>
                    <p  class="cuerpo-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div>
                    <p class="icono-azul"><i class="fa-solid fa-user-shield"></i></p>
                    <h5>Seguridad, de principio a fin</h5>
                    <p  class="cuerpo-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
                </div>
            </section>
            <div>
                <p  class="cuerpo-texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>
</body>
</html>