*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    background-color: #ebebeb;
}


body{
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100vw;
    background-color: #EAC926;
    padding: 20px;
}


form{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: #ebebeb;
    padding: 30px;
    width: 100vw;
    max-width: 600px;   
}

form input{
    border-radius: 5px;
    height: 5vh;
    border: white;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 5px;
}

form button{
    transition-property: background-color;
    transition-duration: 400ms;
    background-color: #1259c3;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    color: white;
    height: 5vh;
    width: 100%;
    border-radius: 5px;
    border:#1259c3;
    align-self: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

form button:hover{
   background-color: #0022AA;
}

footer{
    text-align: center;
    background-color: white;
}


.logo-barra p{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: smaller;
}

.logo-barra div{
    width: 50%;
}
.logo{
    display: flex;
}

.logo img{
    width: 100%;
    margin: auto;
}

.barra-de-busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barra-de-busqueda input{
    width: 95%;
    height:5vh;
    border: white 1px solid;
    border-radius: 10px;
    display: flex;
}

.logo-barra{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



.cuerpo-texto{
    font-size: 12px;
    color: black;
    text-decoration: none;
    text-align: center;
}


.titular{
    font-size: 24px;
    color:#666;

}

.precio{
    font-size: 18px;
    margin-bottom: 0%;
}

.descuento{
    font-size: 16px;
    color: #39b54a;
    margin-top: 0%;
}

.descripcion{
    font-size: 16 px;
}


ul{
    list-style:none;
}

.menu-hamburguesa{
    text-align: center;
    color: white;
    background-color: #1259c3;
    width:30px;
    height: 30px;
    border-radius: 10%;
    margin: auto;
    display: block;
    padding: 6px 0;
    background-size: contain;
}

.icono-azul{
    color:#1259c3;
    transition-property: color;
    transition-duration: 400ms;
}

.icono-azul:hover{
    color: #EAC926;
}


.nav{
    display: none;
}


@media (min-width:361px) {
 
}

@media (min-width:769px) {
    .logo-barra{
        flex-wrap: nowrap;
    }
    .logo{
        max-width: 400px;
    }
    .barra-de-busqueda {
        max-width: 400px;
    }
    .barra-de-busqueda input{
        width: 100%;
        height: 3vh;
        border-radius: 0%;
        display: flex;
    }
    .logo-barra p{
        display: flex;
        align-self: center;
        max-width: 350px;
    }

    .menu-hamburguesa{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        margin-top: 2%;
    }
    .nav ul{
        display: flex;
    }

    .nav ul li{
        margin: 0;
        padding-left: 15px;
    }
    
    .info-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2%;
    }
}

