*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100vw;
    background-color: #EAC926;
    padding: 20px;
}

main{
    width: 100vw;
    text-align: center;
    background-color: #ebebeb;
}

footer{
    text-align: center;
    background-color: white;
}

article{
    margin: auto;
    background-color: white;
    text-align: left;
    width: 90vw;
    transition-duration: 450ms;
    transition-property: box-shadow;
}

article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article i:hover{
    transform: rotate(-90deg);
}

main section article i{
    transition-property: transform;
    transition-duration: 450ms;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top:-15px;
    }

article .descripcion{
    font-weight: normal;
    color: white;
    transition-property: color;
    transition-duration: 300ms;
}

article .descripcion:hover{
    color: black;
}


article img{
    width: 90vw;
}

.banner img{
    width: 100vw;
}

.logo-barra p{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: smaller;
}

.logo-barra div{
    width: 50%;
}
.logo{
    display: flex;
}

.logo img{
    width: 100%;
    margin: auto;
}

.barra-de-busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.barra-de-busqueda form{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.barra-de-busqueda input{
    width: 95%;
    height:5vh;
    border: white 1px solid;
    border-radius: 10px;
    display: flex;
}

.logo-barra{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.datos-articulo{
    border-top:solid 1px #ebebeb;
    padding: 15px;
    position: relative;    
}

.datos-articulo div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.datos-articulo div span{
    width: 40%;
}
.datos-articulo div p{
    width: 60%;
}

.cuerpo-texto{
    font-size: 12px;
    color: black;
    text-decoration: none;
    text-align: center;
}


.titular{
    font-size: 24px;
    color:#666;

}

.precio{
    font-size: 18px;
    margin-bottom: 0%;
}

.descuento{
    font-size: 16px;
    color: #39b54a;
    margin-top: 0%;
}

.descripcion{
    font-size: 16 px;
}


ul{
    list-style:none;
}

.menu-hamburguesa{
    text-align: center;
    color: white;
    background-color: #1259c3;
    width:30px;
    height: 30px;
    border-radius: 10%;
    margin: auto;
    display: block;
    padding: 6px 0;
    background-size: contain;
}

.icono-azul{
    color:#1259c3;
    transition-property: color;
    transition-duration: 400ms;
}

.icono-azul:hover{
    color: #EAC926;
}

.nav{
    display: none;
}




@media (min-width:361px) {
    .productos{
        display: flex;
        justify-content:space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }

    article{
        display: flex;
        flex-direction: column;
        width: 35vw;
        margin:2%;
    }

    article img{
        max-width: 100%;
    }
}

@media (min-width:769px) {
    .logo-barra{
        flex-wrap: nowrap;
    }
    .logo{
        max-width: 400px;
    }
    .barra-de-busqueda {
        max-width: 400px;
    }
    .barra-de-busqueda input{
        width: 100%;
        height: 3vh;
        border-radius: 0%;
        display: flex;
    }
    .logo-barra p{
        display: flex;
        align-self: center;
        max-width: 350px;
    }

    .productos{
        display: flex;
        justify-content:space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }

    article{
        display: flex;
        flex-direction: column;
        width: 20vw;
        margin:2%;
    }

    article img{
        max-width: 100%;
    }

    .menu-hamburguesa{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        margin-top: 2%;
    }
    .nav ul{
        display: flex;
    }

    .nav ul li{
        margin: 0;
        padding-left: 15px;
    }

    .info-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2%;
    }
    
}

